<!DOCTYPE html>
<html>
<head>
    <title>Image Classifier</title>
    <!-- 부트스트랩 링크 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-3">Image Classifier</h1>
        <form method="POST" action="/" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Upload an image:</label>
                <input type="file" class="form-control-file" name="image" id="image" accept=".jpg, .jpeg, .png" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload & Predict</button>
        </form>
        <div class="mt-4">
            {% if prediction_results %}
            <h3>Top Predictions:</h3>
            <ul class="list-group">
                {% for class_name, confidence in prediction_results %}
                <li class="list-group-item">
                    <span class="badge badge-primary badge-pill">{{ confidence|round(2) }}%</span>
                    {{ class_name }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>
