<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Test Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>AI Test Web</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="fileInput" class="custom-file-upload">
                <input type="file" id="fileInput" name="file" accept=".jpg, .jpeg, .png" required>
                <!--<span>Choose File</span>-->
            </label>
            <button type="submit">Check Result</button>
        </form>
        <div id="result" class="result">
            <!-- 결과가 표시될 공간 -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
